<template>
  <div id="Home">
    <InputDatePicker class="datePicker" @date-changed="dateChanged" :date="date"/>
  </div>
</template>

<script>
import InputDatePicker from '@/components/Input/InputDatePicker/InputDatePicker.vue'

export default {
  name: 'Home',
  components: {
    InputDatePicker
  },
  data() {
    return {
      date: {
        date: (new Date).getDate(),
        month: (new Date).getMonth() + 1,
        year: (new Date).getFullYear()
      }
    }
  },
  computed: {},
  methods: {
    dateChanged(newDate) {
      this.date = newDate
    }
  },
  created() {}
}
</script>

<style scoped lang="scss">

#Home{
  margin-top: 200px;

  .datePicker{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

</style>