<template>
  <div id="hamburgerContainer" @click="hamburgerClick()">
    <div id="hamburgerTop" :class="classes" :style="hamburgerStyle"></div>
    <div id="hamburgerMid" :class="classes" :style="hamburgerStyle"></div>
    <div id="hamburgerBot" :class="classes" :style="hamburgerStyle"></div>
  </div>
</template>

<script>

export default {
  name: "Hamburger",
  props: {
    cross: {
      type: Boolean,
      default: false
    },
    color: {
      type: String,
      default: "#009999"
    }
  },
  data() {
    return {
      animate: false
    };
  },
  computed: {
    classes(){
      return {
        cross: this.cross,
        hamburger: !this.cross,
        animate: this.animate
      }
    },
    hamburgerStyle() {
      return `background-color: ${this.color};`
    }
  },
  methods: {
    hamburgerClick(){
      this.animate = true
      this.$emit('hamburgerClick', this.cross)
    }
  }
};
</script>

<style scoped lang="scss">
$animationDuration: 800ms;

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#hamburgerContainer{
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;

  #hamburgerTop,#hamburgerMid,#hamburgerBot{
    position: absolute;
    height: 20%;
    width: 100%;
    border-radius: 4000px;
    transform-origin: 50% 50%;
  }

  #hamburgerTop{
    top: 0;
    transform: translate(0, 0) rotate(0deg);

    &.animate{
      &.cross{
        // transform: translate(0, 201.5%) rotate(45deg);
        animation: crossTop $animationDuration ease-in-out forwards
      }

      &.hamburger{
        animation: hamburgerTop $animationDuration ease-in-out forwards
      }
    }
    
  }

  #hamburgerMid{
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;

    &.animate{
      &.cross{
        animation: crossMid $animationDuration ease-in-out forwards
      }

      &.hamburger{
        animation: hamburgerMid $animationDuration ease-in-out forwards
      }
    }

  }

  #hamburgerBot{
    bottom: 0;
    transform: translate(0, 0) rotate(0deg);

    &.animate{
      &.cross{
        animation: crossBot $animationDuration ease-in-out forwards
      }

      &.hamburger{
        animation: hamburgerBot $animationDuration ease-in-out forwards
      }
    }
  }
  
}

@keyframes crossTop {
  0% { transform: translate(0, 0) rotate(0deg) }
  25% { transform: translate(0, -30%) rotate(0deg) }
  45% { transform: translate(0, 201.5%) rotate(0deg) }
  50% { transform: translate(0, 201.5%) rotate(0deg) }
  80% { transform: translate(0, 201.5%) rotate(55deg) }
  100% { transform: translate(0, 201.5%) rotate(45deg) }
}

@keyframes hamburgerTop {
  0% { transform: translate(0, 201.5%) rotate(45deg) }
  40% { transform: translate(0, 201.5%) rotate(55deg) }
  50% { transform: translate(0, 201.5%) rotate(0deg) }
  65% { transform: translate(0, 201.5%) rotate(0deg) }
  85% { transform: translate(0, -30%) rotate(0deg) }
  100% { transform: translate(0, 0) rotate(0deg) }
}

@keyframes crossMid {
  0% { opacity: 1 }
  46% { opacity: 1 }
  49% { opacity: 0 }
  100% { opacity: 0 }
}

@keyframes hamburgerMid {
  0% { opacity: 0 }
  46% { opacity: 0 }
  49% { opacity: 1 }
  100% { opacity: 1 }
}

@keyframes crossBot {
  0% { transform: translate(0, 0) rotate(0deg) }
  25% { transform: translate(0, 30%) rotate(0deg) }
  45% { transform: translate(0, -201.5%) rotate(0deg) }
  50% { transform: translate(0, -201.5%) rotate(0deg) }
  80% { transform: translate(0, -201.5%) rotate(-55deg) }
  100% { transform: translate(0, -201.5%) rotate(-45deg) }
}

@keyframes hamburgerBot {
  0% { transform: translate(0, -201.5%) rotate(-45deg) }
  40% { transform: translate(0, -201.5%) rotate(-55deg) }
  50% { transform: translate(0, -201.5%) rotate(0deg) }
  65% { transform: translate(0, -201.5%) rotate(0deg) }
  85% { transform: translate(0, 30%) rotate(0deg) }
  100% { transform: translate(0, 0) rotate(0deg) }
}

</style>
