<template>
  <div id="Navbar">
    <div id="navContainer">
      <div id="nav" :style="navStyle">
        <div class="left" @click="linkClick('/')">
          <slot name="logotype"/>
          <p id="TestRig">{{ applicationName }}</p>
        </div>
        <div class="right">
          <div id="pages">
            <div 
              v-for="(link, index) in links" 
              :key="link.title + index"
              :class="{link: true, activeLink: link.active}"
              :style="link.active ? linkStyle : `color:${secondaryColor};`"
              @click="linkClick(link.link)"
            >
              {{ link.title }}
              <div 
                :class="{underline: true, active: link.active}"
                :style="link.active ? underlineStyle : `background-color:${secondaryColor};`"
              ></div>
            </div>
          </div>
          <div 
            id="hamburgerWrapper"
            :style="hamburgerWrapperStyle"
          >
            <Hamburger 
              :cross="dropdownMenyActive"
              :color="primaryColor" 
              @hamburgerClick="toggleMenu()"
            />
          </div>
        </div>
        
      </div>
      <transition name="menuTransition">
        <div id="menu" v-if="dropdownMenyActive">
          <div class="background" :style="menuStyle"></div>
          <div 
            v-for="(link, index) in links"
            :key="link.link + index"
            :class="{link: true, activeLink: link.active}"
            @click="linkClick(link.link)"
          >
            <span class="linkText" :style="link.active ? linkStyle : `color:${secondaryColor};`">
              {{ link.title }}
              <div 
                :class="{underline: true, active: link.active}"
                :style="link.active ? underlineStyle : `background-color:${secondaryColor};`"
              ></div>
            </span>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import Hamburger from "./Hamburger.vue"

export default {
  name: "Navbar",
  components: {
    Hamburger
  },
  props: {
    links: Array,
    applicationName: {
      type: String,
      default: "Application Name"
    },
    backgroundColor: {
      type: String,
      default: "rgb(45,55,60)"
    },
    secondaryColor: {
      type: String,
      default: "white"
    },
    primaryColor: {
      type: String,
      default: "#009999"
    },
    height: {
      type: String,
      default: "45px"
    }
  },
  data() {
    return {
      dropdownMenyActive: false
    };
  },
  computed: {
    navStyle() {
      return `background-color:${this.backgroundColor};height:${this.height};`
    },
    menuStyle() {
      return `background-color:${this.backgroundColor};`
    },
    underlineStyle() {
      return `background-color:${this.primaryColor};`
    },
    linkStyle() {
      return `color:${this.primaryColor};`
    },
    hamburgerWrapperStyle() {
      return `height: calc(${this.height} - 15px);width: calc(${this.height} - 15px);`
    }
  },
  methods: {
    toggleMenu(bool) {
      bool != undefined ? this.dropdownMenyActive = bool : this.dropdownMenyActive = !this.dropdownMenyActive
    },
    linkClick(link) {
      this.$emit('linkClick', link)
    }
  }
};
</script>

<style lang="scss" scoped>

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.menuTransition-enter-active, .menuTransition-leave-active {
  transition: transform 350ms ease;
}
.menuTransition-enter, .menuTransition-leave-to {
  transform: translateY(-100%);
}

$mediaBreakpoint: 734px;

#Navbar{
  z-index: 300;
  position: fixed;
  top: 0;
}

#nav{
  z-index: 230;
  box-shadow: 0 0 15px 3px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  overflow: hidden;

  .left{
    display: flex;
    justify-content: left;
    margin-left: 5px;
    height: 100%;
    cursor: pointer;

    svg{
      width: 160px;
    }
  }

  .link{
    font-weight: bold;
    font-size: 18px;
    color: white;
    cursor: pointer;
  }

  #TestRig{
    color: white;
    align-self: center;
    margin-left: 10px;
    cursor: pointer;
  }

  .right{
    display: flex;
    align-items: center;
  }

  #pages {
    display: flex;
    justify-content: flex-end;

    .link {
      margin: 0 20px;
      position: relative;
      transition: all 0.3s ease-in-out;

      &:hover{
        .underline{
          transform: scaleX(0.5);
        }
      }

      .underline {
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: white;
        bottom: -3px;
        transform-origin: 50% 50%;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;

        &.active{
          transform: scaleX(1);
        }
      }
    }
    @media screen and (max-width: $mediaBreakpoint) {
      .link{
        transform: translateY(-200px)
      }
    }
  }

  #hamburgerWrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(100px); 
    right: 25px;
    transition: all 0.3s ease-in-out;
  }

  @media screen and (max-width: $mediaBreakpoint) {
    #hamburgerWrapper{
      transform: translateY(-50%) translateX(0);
    }
  }
}

#navContainer{
  position: fixed;
  width: 100%;

  #menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px 30px 30px;
    right: 0;
    top: 100%;
    opacity: 0.9;
    z-index: 220;

    .background{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.98;
    }

    .link {
      display: flex;
      justify-content: center;
      width: 100%;
      text-decoration: none;
      padding: 7px 0;
      cursor: pointer;

      .linkText {
        position: relative;
        color: white;
        width: fit-content;
        font-weight: bold;
        font-size: 20px;
        transition: all 0.3s ease-in-out;

        &:hover {
          .underline {
            transform: scaleX(0.5);
          }
        }

        .underline {
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: white;
        bottom: -3px;
        transform-origin: 50% 50%;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;

        &.active{
          transform: scaleX(1);
        }

      }

      }

    }
  }

  @media screen and (min-width: $mediaBreakpoint) {
    #menu{
      display: none;
    }
  }
}

</style>