<template>
  <div id="InputDatePickerTextBoxes">
    <div class="container">
      <input 
        type="number" 
        name="date" 
        id="date" 
        maxlength="2" 
        min="1" 
        :max="maxDays"
        v-model="dateDay"
      >
      <input 
        type="number" 
        name="month" 
        id="month" 
        maxlength="2" 
        min="1" 
        max="12"
        v-model="dateMonth"
      >
      <input 
        type="number" 
        name="year" 
        id="year" 
        maxlength="4"
        v-model="dateYear"
      >
    </div>
  </div>
</template>

<script>
export default {
  name: 'InputDatePickerTextBoxes',
  props: {
    date: {
      type: Object,
      default: () => ({
        date: (new Date).getDate(),
        month: (new Date).getMonth(),
        year: (new Date).getFullYear()
      })
    },
    isLeapYear: Boolean,
    months: Array
  },
  data(){
    return {
      dateDay: Number,
      dateMonth: Number,
      dateYear: Number
    }
  },
  computed: {
    maxDays() {
      return this.months[this.dateMonth -1].daysCount
    },
  },
  methods: {},
  watch: {
    dateDay(val) {
      // if (val > this.maxDays) this.dateDay = this.maxDays
      // console.log(this.dateDay)
      this.$emit('date-changed', {date: this.dateDay, month: this.dateMonth, year: this.dateYear})
    },
    dateMonth() {
      if (this.dateDay > this.maxDays) this.dateDay = this.maxDays
      this.$emit('date-changed', {date: this.dateDay, month: this.dateMonth, year: this.dateYear})
    },
    dateYear() {
      this.$emit('date-changed', {date: this.dateDay, month: this.dateMonth, year: this.dateYear})
    }
  },
  created(){
    this.dateDay = this.date.date
    this.dateMonth = this.date.month
    this.dateYear = this.date.year
    // console.log(this.date)
  }
}
</script>

<style scoped lang="scss">
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  font-size: 18px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#InputDatePickerTextBoxes{
  .container{
    position: relative;
    display: flex;

    input{
      background-color: rgba(255,255,255,0.4);
      width: calc(100%/3);
      border: 2px solid rgb(119, 118, 118);
      border-radius: 0;
      box-shadow: none;
      padding: 4px;
      text-align: center;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,&::-webkit-inner-spin-button{
        -webkit-appearance: none;
      }
    }

  }
}

</style>
