<template>
  <div id="InputDatePicker">
    <div class="container" 
      :style="containerStyle"
    >
      <InputDatePickerTextBoxes 
        :date="date"
        :isLeapYear="isLeapYear"
        :months="months"
        @date-changed="dateChanged"
      />
      <InputDatePickerGraphical 
        :date="date"
        :months="months"
        :weekDays="weekDays"
        :width="width"
        @date-changed="dateChanged"
      />
    </div>
  </div>
</template>

<script>
import InputDatePickerTextBoxes from './InputDatePickerTextBoxes.vue'
import InputDatePickerGraphical from './InputDatePickerGraphical.vue'

export default {
  name: 'InputDatePicker',
  components:{
    InputDatePickerTextBoxes,
    InputDatePickerGraphical
  },
  props: {
    date: {
      type: Object,
      default: () => ({
        date: (new Date).getDate(),
        month: (new Date).getMonth() + 1,
        year: (new Date).getFullYear()
      })
    },
    width: {
      type: String,
      default: '300px'
    }
  },
  data(){
    return {
      months: [
        { short: 'Jan', long: 'January', daysCount: 31 },
        { short: 'Feb', long: 'February', daysCount: this.isLeapYear ? 29 : 28 },
        { short: 'Mars', long: 'Mars', daysCount: 31 },
        { short: 'Apr', long: 'April', daysCount: 30 },
        { short: 'May', long: 'May', daysCount: 31 },
        { short: 'June', long: 'June', daysCount: 30 },
        { short: 'July', long: 'July', daysCount: 31 },
        { short: 'Aug', long: 'August', daysCount: 31 },
        { short: 'Sep', long: 'September', daysCount: 30 },
        { short: 'Oct', long: 'October', daysCount: 31 },
        { short: 'Nov', long: 'November', daysCount: 30 },
        { short: 'Dec', long: 'December', daysCount: 31 },
      ],
      weekDays: [
        { short: 'Mon', long: 'Monday' },
        { short: 'Tue', long: 'Tuesday' },
        { short: 'Wed', long: 'Wednesday' },
        { short: 'Thu', long: 'Thursday' },
        { short: 'Fri', long: 'Friday' },
        { short: 'Sat', long: 'Saturday' },
        { short: 'Sun', long: 'Sunday' },
      ]
    }
  },
  computed: {
    containerStyle() {
      return `width:${this.width};`
    },
    isLeapYear() {
      if (this.date.year % 4 !== 0) {
        return false
      } else if (this.date.year % 100 !== 0) {
        return true
      } else if (this.date.year % 400 !== 0) {
        return false
      } else {
        return true
      }
    }
  },
  methods: {
    dateChanged(newDate) {

      this.$emit('date-changed', newDate)      
    }
  },
  watch: {},
  created(){
    // console.log(this.currentMonth)
    // console.log(this.isLeapYear)
  }
}
</script>

<style scoped lang="scss">
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  position: relative;
  background-color: rgb(219, 219, 219);
}

</style>
