<template>
  <div id="InputDatePickerGraphical" :style="graphicalStyle">
    <div class="container">
      <div 
        v-for="(day, i) in currentMonth" 
        :class="{day: true, inMonth: day.inMonth}"
        :key="`${day.date}-${i}`"
      >
        <span class="text">{{ day.date }}</span>
      </div>
      <div class="backgroundBlur"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'InputDatePickerGraphical',
  props: {
    date: {
      type: Object,
      default: () => ({
        date: (new Date).getDate(),
        month: (new Date).getMonth(),
        year: (new Date).getFullYear()
      })
    },
    weekDays: Array,
    months: Array,
    width: String
  },
  data(){
    return {
      dateDay: Number,
      dateMonth: Number,
      dateYear: Number,
      dayGrid: [
        { date: 28, weekDay: 0, inMonth: false },
        { date: 29, weekDay: 1, inMonth: false },
        { date: 30, weekDay: 2, inMonth: false },
        { date: 31, weekDay: 3, inMonth: false },
        { date: 1, weekDay: 4, inMonth: true },
        { date: 2, weekDay: 5, inMonth: true },
        { date: 3, weekDay: 6, inMonth: true },
        { date: 4, weekDay: 0, inMonth: true },
        { date: 5, weekDay: 1, inMonth: true },
        { date: 6, weekDay: 2, inMonth: true },
        { date: 7, weekDay: 3, inMonth: true },
        { date: 8, weekDay: 4, inMonth: true },
        { date: 9, weekDay: 5, inMonth: true },
        { date: 10, weekDay: 6, inMonth: true },
        { date: 11, weekDay: 0, inMonth: true },
        { date: 12, weekDay: 1, inMonth: true },
        { date: 13, weekDay: 2, inMonth: true },
        { date: 14, weekDay: 3, inMonth: true },
        { date: 15, weekDay: 4, inMonth: true },
        { date: 16, weekDay: 5, inMonth: true },
        { date: 17, weekDay: 6, inMonth: true },
        { date: 18, weekDay: 0, inMonth: true },
        { date: 19, weekDay: 1, inMonth: true },
        { date: 20, weekDay: 2, inMonth: true },
        { date: 21, weekDay: 3, inMonth: true },
        { date: 22, weekDay: 4, inMonth: true },
        { date: 23, weekDay: 5, inMonth: true },
        { date: 24, weekDay: 6, inMonth: true },
        { date: 25, weekDay: 0, inMonth: true },
        { date: 26, weekDay: 1, inMonth: true },
        { date: 27, weekDay: 2, inMonth: true },
        { date: 28, weekDay: 3, inMonth: true },
        { date: 29, weekDay: 4, inMonth: true },
        { date: 30, weekDay: 5, inMonth: true },
        { date: 1, weekDay: 6, inMonth: false },
        { date: 2, weekDay: 0, inMonth: false },
        { date: 3, weekDay: 1, inMonth: false },
        { date: 4, weekDay: 2, inMonth: false },
        { date: 5, weekDay: 3, inMonth: false },
        { date: 6, weekDay: 4, inMonth: false },
        { date: 7, weekDay: 5, inMonth: false },
        { date: 8, weekDay: 6, inMonth: false }
      ]
    }
  },
  computed: {
    maxDays() {
      return this.months[this.dateMonth -1].daysCount
    },
    graphicalStyle() {
      return `height:${this.width};`
    },
    currentMonth() {

      function testMonths(month) {
        if (month < 0) {
          return month + 12
        } else if (month > 11) {
          return month - 12
        } else {
          return month
        }
      }

      const daysInMonth = this.months[testMonths(this.date.month -1)].daysCount
      const weekDayJS = (new Date(`${this.date.month}-1-${this.date.year}`)).getDay()
      const monthsFirstWeekday = weekDayJS === 0 ? 7 : weekDayJS - 1
      let nextMonth = 0
      return this.dayGrid.map((day, i) => {
        if (i < monthsFirstWeekday) {
          return {
            date: this.months[testMonths(this.date.month -2)].daysCount - (monthsFirstWeekday - i -1),
            weekDay: day.weekDay,
            inMonth: false
          }
        } else if (i < daysInMonth + monthsFirstWeekday) {
          return {
            date: i - monthsFirstWeekday + 1,
            weekDay: day.weekDay,
            inMonth: true
          }
        } else {
          nextMonth++
          return {
            date: nextMonth,
            weekDay: day.weekDay,
            inMonth: false
          }
        }
      })

    }
  },
  methods: {},
  watch: {
    dateDay(val) {
      this.$emit('date-changed', {date: this.dateDay, month: this.dateMonth, year: this.dateYear})
    },
    dateMonth() {
      if (this.dateDay > this.maxDays) this.dateDay = this.maxDays
      this.$emit('date-changed', {date: this.dateDay, month: this.dateMonth, year: this.dateYear})
    },
    dateYear() {
      this.$emit('date-changed', {date: this.dateDay, month: this.dateMonth, year: this.dateYear})
    },
    currentMonth(val) {
      console.log(val)
    }
  },
  created(){
    this.dateDay = this.date.date
    this.dateMonth = this.date.month
    this.dateYear = this.date.year
  }
}
</script>

<style scoped lang="scss">
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  font-size: 18px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#InputDatePickerGraphical {
  position: absolute;
  width: 100%;

  .container{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .backgroundBlur{
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgb(230,230,230);
      opacity: 0.8;
      height: 100%;
      width: 100%;
      z-index: -10;
    }
    
    .day{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(170,170,170);

      &.inMonth{
        color: rgb(30,30,30);
      }

      &:hover{
        background-color: rgba(0,0,0,0.05);
      }
    }

  }
}

</style>
