
$fontsize_small: 15px;
$fontsize_big: 25px;
$colour_black: rgb(25,25,25);
$colour_gray_light: rgb(190,190,190);
$colour_gray_mid: rgb(130,130,130);
$colour_gray_dark: rgb(65,65,65);
$colour_blue_light: rgb(60,150,230);
$colour_blue_mid: rgb(20,90,200);
  
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
*{
  font-family: 'Quicksand', sans-serif;
}
